.trustedSection{
  background-color: rgba(231, 230, 230, 0.225);
  padding: 2rem;
}

.trustedSection .headingSection{
  max-width: 100rem;
  margin: 0 auto;
  
}

.trustedSection .trustedBox{
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding: 2rem;
}

.trustedSection .trustedBox .firstCompany{
  display: grid;
  place-items: center;
}

.trustedSection .trustedBox .firstCompany img{
  max-width: 20rem;
  height: 50%;
  object-fit: contain;
}