.mobileNav{
  position: relative;
  z-index: 1;
}

.item{
  position: absolute;
  list-style: none;
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: rgba(231, 230, 230, 0.865);
}

.item li .anchor{
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

.item li a:hover{
  color: #000;
  transform: all linear 0.5s;
}

.item li .cartIcon{
  position: relative;
  font-size: 2rem;
}

.item li .cartIcon span{
  font-size: 1.3rem;
  position: absolute;
  top: 0%;
}

.item li .active{
  color: #7743DB;
}

@media(width > 768px){
  .mobileNav{
    display: none;
  }
}